<a class="btn btn-primary" href="/cancer-type/new"><i class="fa fa-plus" aria-hidden="true"></i></a></br>
<table class="table table-bordered table-striped">
  <thead>.
  <tr>
    <th>Tên</th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @cancer_types.each do |cancer_type| %>
          <tr>
            <td><%= cancer_type.name %></td>
            <td><%= link_to ("<i class='fa fa-pencil-square'></i>&nbsp;Sửa").html_safe, "/cancer-type/edit/#{cancer_type.id}", class: "btn btn-primary" %></td>
            <td><%= link_to ("<i class='fa fa-trash'></i></i>&nbsp;Xóa").html_safe, "/cancer-type/#{cancer_type.id}", method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete '#{cancer_type.name}'?" %></td>
          </tr>
  <% end %>
  </tbody>

</table>

<%= will_paginate @cancer_types %>