<div class="main-content" id="content">
  <div class="row">
    <p>Nội dung bạn tìm kiếm không tồn tại<br>
      Bạn hãy thử một trong các cách dưới đây:<br>

      Sử dụng chức năng tìm kiếm để tìm nội dung bạn cần.<br>
      Nếu bạn chắc chắn đây là lỗi, hãy báo cho chúng tôi.<br>
    </p>
    <%= image_tag '404.jpg' %>
  </div>
</div>