<div class="main-content" id="content">
  <!-- slots -->
  <div class="row">
    <div class="large-12 columns cthp-padding">
      <div id="cgvSlBreadcrumb" class="medium-8 columns bcrumbs cthp-breadcrumb">
        <div class="contentid-870117 slot-item only-SI">
          <ul class="breadcrumbs">
            <li><%= link_to 'Trang chủ', root_path %></li>
            <li class="last-breadcrumb"><%= link_to 'Các loại ung thư', cancer_type_index_path %></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- END "row" -->
  </div>
  <div class="cthp-content cthp-patient-content" tabindex="0">
    <div class="row">
      <div class="large-12 columns resize-content cthp-padding">

        <!-- PAGE TITLE -->
        <h1><span><%= @cancer_type.name %></span></h1>

        <!-- END PAGE TITLE -->


        <!-- Does this contain intro text, OnThisPage, article image, sections, & endnotes? -->
        <div id="cancer_description">
          <%= @cancer_type.description.to_s.html_safe %>
        </div>
      </div>
    </div>
  </div>
</div>