<a class="btn btn-primary" href="/course/new"><i class="fa fa-plus" aria-hidden="true"></i></a></br>
<table class="table table-bordered table-striped">
  <thead>.
  <tr>
    <th>Tên khóa học</th>
    <th></th>
    <th></th>
    <th>Danh sách học viên</th>
  </tr>
  </thead>

  <tbody>
  <% @courses.each do |course| %>
    <tr>
      <td><%= course.name %></td>
      <td><%= link_to ("<i class='fa fa-pencil-square'></i>&nbsp;Sửa").html_safe, "/course/edit/#{course.id}", class: "btn btn-primary" %></td>
      <td><%= link_to ("<i class='fa fa-trash'></i></i>&nbsp;Xóa").html_safe, "/course/#{course.id}", method: :delete, class: "btn btn-danger", confirm: "Có phải bạn muốn xóa '#{course.name}'?" %></td>
      <td><%= link_to "Xem", trainee_list_path(id: course.id)%></td>
    </tr>
  <% end %>
  </tbody>

</table>