<a class="btn btn-primary" href="/news/new"><i class="fa fa-plus" aria-hidden="true"></i></a></br>
<table class="table table-bordered table-striped">
  <thead>.
  <tr>
    <th>Tiêu đề</th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @news_arr.each do |news| %>
    <tr>
      <td><%= news.title %></td>
      <td><%= link_to ("<i class='fa fa-pencil-square'></i>&nbsp;Sửa").html_safe, "/news/edit/#{news.id}", class: "btn btn-primary" %></td>
      <td><%= link_to ("<i class='fa fa-trash'></i></i>&nbsp;Xóa").html_safe, "/news/#{news.id}", method: :delete, class: "btn btn-danger", confirm: "Có phải bạn muốn xóa '#{news.title}'?" %></td>
    </tr>
  <% end %>
  </tbody>

</table>