<div class="main-content" id="content" tabindex="0">
  <div class="row general-page-body-container collapse">
    <div class="large-12 columns">
      <div class="row">
        <div id="cgvSlBreadcrumb" class="medium-8 columns bcrumbs">
          <div class="contentid-870117 slot-item only-SI">
            <ul class="breadcrumbs">
              <li><a href="/">Trang chủ</a></li>
              <li><a href="/about-us">Giới thiệu</a></li>
            </ul>
          </div>
        </div>
      </div> <!-- END "row" -->
    </div> <!-- END "large-12 columns" -->
    <div class="row">
      <!--    SECTION NAVIGATION -->
      <div id="nvcgSlSectionNav" class="medium-3 columns local-navigation">
        <div class="contentid-916491 slot-item only-SI">
          <div class="section-nav">
            <ul>
              <li class="level-0 has-children">
                <div>
                  Thông tin về chúng tôi
                </div>
                <ul>
                  <li class="level-1 contains-current">
                    <div>
                      <a href="/about-us">Giới thiệu chung</a>
                    </div>
                  </li>
                  <li class="level-1">
                    <div class="current-page">
                      <a href="/about-us/responsibilities">Chức năng và nhiệm vụ</a>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!--    END SECTION NAVIGATION -->
      <div class="medium-9 columns contentzone has-section-nav" id="main" tabindex="0" role="main">
        <!-- ********************************* BEGIN List of person ********************************** -->
        <div class="contentid-1034469 slot-item last-SI">
          <div class="archive-description"><p><strong>1. Chức năng</strong></p>
            <p>Là Viện có giường bệnh với chức năng: cấp cứu, khám bệnh, chữa bệnh và phục hồi chức năng chuyên khoa ung
              bướu, thử nghiệm lâm sàng trên người bệnh, nghiên cứu khoa học, tham gia chỉ đạo tuyến, đào tạo, quản lý
              và triển khai các đề tài, dự án.</p>
            <p><strong>2. Nhiệm vụ</strong></p>
            <p>2.1 Công tác khám bệnh, chữa bệnh:</p>
            <ul>
              <li>Tổ chức cung cấp dịch vụ khám bệnh, chữa bệnh, cấp cứu chuyên khoa ung bướu và các bệnh trong khả năng
                của Viện cho người bệnh trong nước, người bệnh là người nước ngoài, phục vụ công tác chăm sóc, bảo vệ
                sức khỏe nhân dân.
              </li>
              <li>Tổ chức triển khai thực hiện các kỹ thuật y học hiện đại;</li>
              <li>Tham gia công tác giám định y khoa được Bộ Y tế giao;</li>
              <li>Phục hồi chức năng sau điều trị và phục hồi chức năng tại cộng đồng;</li>
              <li>Tư vấn, khám sức khỏe, kiểm tra sức khỏe cho đối tượng có nhu cầu;</li>
              <li>Thực hiện các nhiệm vụ khác theo sự phân công của Bộ Y tế.</li>
            </ul>
            <p>2.2 Triển khai nghiên cứu thử nghiệm lâm sàng đối với các loại thuốc, thiết bị y tế, thực phẩm chức năng
              trên người theo quy định hiện hành.</p>
            <p>2.3 Nghiên cứu khoa học</p>
            <ul>
              <li>Nghiên cứu cơ sở lý luận và thực tiễn để tham mưu cho Bộ Y tế và Chính phủ trong việc xây dựng chiến
                lược, chính sách quốc gia về phòng chống bệnh Ung thư.
              </li>
              <li>Nghiên cứu và triển khai ứng dụng các tiến bộ khoa học kỹ thuật trong công tác phòng chống bệnh ung
                thư.
              </li>
              <li>Nghiên cứu, xây dựng các biện pháp phòng chống bệnh ung thư.</li>
              <li>Nghiên cứu dịch tễ học và xây dựng bản đồ dịch tễ học bệnh viện ung thư tại Việt Nam.</li>
              <li>Nghiên cứu, phát hiện các nguyên nhân gây ung thư.</li>
              <li>Nghiên cứu, ứng dụng các biện pháp sàng lọc phát hiện sớm bệnh ung thư.</li>
              <li>Nghiên cứu, ứng dụng các phương pháp trong điều trị bệnh ung thư.</li>
              <li>Nghiên cứu, ứng dụng các biện pháp cải thiện chất lượng sống cho bệnh nhân ung thư.</li>
              <li>Nghiên cứu, xây dựng bảo tàng về ung thư học tại Việt Nam.</li>
              <li>Nghiên cứu những tác động của môi trường và xã hội đến việc phòng chống bệnh ung thư.</li>
              <li>Nghiên cứu chế độ, chính sách phù hợp cho bệnh nhân ung thư và các bộ chuyên ngành.</li>
              <li>Nghiên cứu, ứng dụng các biện pháp giáo dục sức khỏe phòng chống bệnh ung thư.</li>
              <li>Thực hiện các dịch vụ nghiên cứu, khám chữa bệnh và chuyển giao công nghệ phục vụ chuyên ngành.</li>
            </ul>
            <p>2.4 Đào tạo</p>
            <ul>
              <li>Tổ chức đào tạo, đào tạo lại, đào tạo nâng cao theo lĩnh vực cho cán bộ thuộc hệ thống theo chuyên
                ngành.
              </li>
              <li>Tham gia, phối hợp với các đơn vị trong bệnh viện K thực hiện đào tạo Thạc sĩ, Tiến sĩ chuyên ngành
                khi được cấp có thẩm quyền cho phép; tham gia cùng với các trường Đại học, các Viện nghiên cứu trong và
                ngoài ngành để đào tạo cán bộ chuyên ngành, cùng với các tổ chức quốc tế thực hiện chương trình hợp tác
                đào tạo nhằm tiếp thu, trao đổi kỹ thuật tiên tiến, hiện đại.
              </li>
              <li>Triển khai các dịch vụ đào tạo về chuyên ngành theo yêu cầu và theo quy định của pháp luật.</li>
            </ul>
            <p>2.5 Tham gia chỉ đạo tuyến</p>
            <ul>
              <li>Tham gia chỉ đạo chuyên môn, kỹ thuật đối với mạng lưới phòng chống bệnh ung thư trên phạm vi toàn
                quốc.
              </li>
              <li>Tổ chức triển khai hướng dẫn, đôn đốc, kiểm tra, giám sát và đánh giá việc thực hiện chuyên môn, kỹ
                thuật đối với mạng lưới phòng chống bệnh ung thư theo quy định.
              </li>
              <li>Thực hiện các chương trình, dự án quốc gia, quốc tế về lĩnh vực chuyên ngành, chịu trách nhiệm tổng
                hợp, thống kê báo cáo theo quy định.
              </li>
            </ul>
            <p>2.6 Hợp tác quốc tế</p>
            <ul>
              <li>Chủ động thiết lập các mối quan hệ, hợp tác, ký kết các thỏa thuận về đầu tư nghiên cứu khoa học, đào
                tạo cán bộ, cung cấp trang thiết bị với các tổ chức, cá nhân nước ngoài và các tổ chức quốc tế theo quy
                định của pháp luật.
              </li>
              <li>Xây dựng và tổ chức thực hiện các đề án đầu tư liên doanh, liên kết với các tổ chức, cá nhân nước
                ngoài kể cả các tổ chức phi chính phủ theo quy định của pháp luật.
              </li>
              <li>Xây dựng kế hoạch đoàn ra, đoàn vào theo chương trình hợp tác quốc tế của đơn vị. Cử cán bộ đi học
                tập, nghiên cứu ở nước ngoài, mời chuyên gia là ngước nước ngoài đến nghiên cứu, trao đổi kinh nghiệm và
                học tập tại đơn vị theo quy định.
              </li>
            </ul>
            <p>2.7 Quản lý chất lượng</p>
            <ul>
              <li>Áp dụng, triển khai và xây dựng kế hoạch từng bước thực hiện theo Tiêu chí chất lượng do Bộ Y tế ban
                hành và các tiêu chuẩn chất lượng khác có liên quan.
              </li>
              <li>Tự đánh giá chất lượng, công khai chất lượng hoạt động viện và chịu sự kiểm định chất lượng của Bộ Y
                tế và các cơ quan liên quan khác.
              </li>
              <li>Xây dựng và phát triển hệ thống bảo đảm chất lượng của viện, tăng cường các điều kiện đảm bảo chất
                lượng và không ngừng nâng cao chất lượng dịch vụ do viện cung cấp.
              </li>
            </ul>
            <p>2.8 Quản lý đơn vị</p>
            <ul>
              <li>Quản lý và sử dụng có hiệu quả các nguồn lực của đơn vị theo quy định của pháp luật.</li>
              <li>Tổ chức thực hiện nghiêm chỉnh các quy định của pháp luật về thu, chi tài chính, thực hiện tốt quản lý
                tài chính theo các quy định của pháp luật đối với đơn vị sự nghiệp có thu.
              </li>
              <li>Triển khai và mở rộng các dịch vụ khoa học kỹ thuật, đào tạo hợp tác với các cơ quan trong nước và
                quốc tế theo quy định của pháp luật để hỗ trợ hoạt động chuyên môn, tăng nguồn kinh phí, cải thiện đời
                sống cán bộ, viên chức.
              </li>
              <li>Thực hiện các nhiệm vụ khác do Bệnh viện giao.</li>
            </ul>
          </div>
        </div>
        <!-- ********************************* END List of person ********************************** -->
      </div> <!-- END Main -->
    </div> <!-- END "row" -->
  </div> <!-- END "row general-page-body-container collapse" -->
</div>