<div class="main-content" id="content" tabindex="0">
  <div class="row general-page-body-container collapse">
    <div class="large-12 columns">
      <div class="row">
        <div id="cgvSlBreadcrumb" class="medium-8 columns bcrumbs">
          <div class="contentid-870117 slot-item only-SI">
            <ul class="breadcrumbs">
              <li><%= link_to 'Trang chủ', root_path %></li>
              <li><%= link_to 'Giới thiệu', about_summary_path %></li>
            </ul>
          </div>
        </div>
      </div> <!-- END "row" -->
    </div> <!-- END "large-12 columns" -->
    <div class="row">
      <!--    SECTION NAVIGATION -->
      <div id="nvcgSlSectionNav" class="medium-3 columns local-navigation">
        <div class="contentid-916491 slot-item only-SI">
          <div class="section-nav">
            <ul>
              <li class="level-0 has-children">
                <div>
                  Thông tin về chúng tôi
                </div>
                <ul>
                  <li class="level-1 contains-current">
                    <div class="current-page">
                      <a href="/about-us">Giới thiệu chung</a>
                    </div>
                  </li>
                  <li class="level-1">
                    <div>
                      <a href="/about-us/responsibilities">Chức năng và nhiệm vụ</a>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!--    END SECTION NAVIGATION -->
      <div class="medium-9 columns contentzone has-section-nav" id="main" tabindex="0" role="main">
        <!-- ********************************* BEGIN List of person ********************************** -->
        <div class="contentid-1034469 slot-item last-SI">
          <% if Introduction.first %>
            <%= Introduction.first.summary.to_s.html_safe %>
          <% end %>
        </div>
        <!-- ********************************* END List of person ********************************** -->
      </div> <!-- END Main -->
    </div> <!-- END "row" -->
  </div> <!-- END "row general-page-body-container collapse" -->
</div>