<div class="main-content" id="content" tabindex="0">
  <div class="row general-page-body-container collapse">
    <div class="large-12 columns">
      <div class="row">
        <div id="cgvSlBreadcrumb" class="medium-8 columns bcrumbs">
          <div class="contentid-870117 slot-item only-SI">
            <ul class="breadcrumbs">
              <li><%= link_to 'Trang chủ', root_path %></li>
              <li><%= link_to 'Giới thiệu', about_summary_path %></li>
            </ul>
          </div>
        </div>
      </div> <!-- END "row" -->
    </div> <!-- END "large-12 columns" -->
    <div class="row">
      <!--    SECTION NAVIGATION -->
      <div id="nvcgSlSectionNav" class="medium-3 columns local-navigation">
        <div class="contentid-916491 slot-item only-SI">
          <div class="section-nav">
            <ul>
              <li class="level-0 has-children">
                <div>
                  Thông tin về chúng tôi
                </div>
                <ul>
                  <li class="level-1 contains-current">
                    <div class="current-page">
                      <a href="/about-us">Giới thiệu chung</a>
                    </div>
                  </li>
                  <li class="level-1">
                    <div>
                      <a href="/about-us/responsibilities">Chức năng và nhiệm vụ</a>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!--    END SECTION NAVIGATION -->
      <div class="medium-9 columns contentzone has-section-nav" id="main" tabindex="0" role="main">
        <!-- ********************************* BEGIN List of person ********************************** -->
        <div class="contentid-1034469 slot-item last-SI">
          <div class="archive-description"><p><strong>Giới thiệu</strong></p>
            <p>Viện Ung thư Quốc gia thuộc Bệnh viện K được thành lập theo Quyết định số: 2789/QĐ-BYT ngày 27/7/2007 của
              Bộ trưởng Bộ Y tế. Năm 2017 được sửa đổi bổ sung tại Quyết định số 2406/QĐ-BYT ngày 09/06/2017 của Bộ
              trưởng Bọ Y tế về việc ban hành quy chế tổ chức và hoạt động của Bệnh viện K. Viện là đơn vị đơn vị sự
              nghiệp thuộc Bệnh viện K, có tư cách pháp nhân, có con dấu, được mở tài khoản tại Kho bạc nhà nước theo
              quy định của pháp luật, có trụ sở làm việc tại Thành phố Hà Nội.</p>
            <p><strong>Tên giao dịch:</strong></p>
            <p>Tên tiếng Việt: Viện Ung thư Quốc gia</p>
            <p>Tên tiếng Anh: VNCI</p>
            <p>Địa chỉ giao dịch: số 43 Quán Sứ, Quận Hoàn Kiếm, Hà Nội</p>
            <p>Số điện thoại: 024 3533 8900</p>
            <p>Số fax: 024 3685 7934</p>
            <p>Email: <a href="mailto:vnnci2017@gmail.com">vnnci2017@gmail.com</a></p>
            <p><strong>Cơ cấu tổ chức</strong></p>
            <p>Viện gồm 24 khoa, phòng và 04 trung tâm:</p>
            <ol>
              <li>Khoa Khám bệnh;</li>
              <li>Khoại Ngoại Vú – Phụ khoa;</li>
              <li>Khoa Ngoại Đầu mặt cổ – Phổi – Tiêu hoá;</li>
              <li>Khoa Gây mê hồi sức;</li>
              <li>Khoa Nội Vú – Phụ khoa;</li>
              <li>Khoa Nội Đầu mặt cổ – Phổi – Tiêu hoá;</li>
              <li>Khoa Xạ Vú – Phụ khoa;</li>
              <li>Khoa Xạ Đầu mặt cổ – Phổi – Tiêu hoá;</li>
              <li>Khoa Hồi sức tích cực;</li>
              <li>Khoa Khám bệnh theo yêu cầu;</li>
              <li>Khoa Điều trị theo yêu cầu;</li>
              <li>Khoa Quốc tế;</li>
              <li>Khoa Huyết học – Vi sinh;</li>
              <li>Khoa Sinh hoá – Miễn dịch;</li>
              <li>Khoa Giải phẫu bệnh – Tế bào;</li>
              <li>Khoa Chẩn đoán Hình ảnh;</li>
              <li>Khoa Nội soi và Thăm dò chức năng;</li>
              <li>Phòng Hành chính tổng hợp;</li>
              <li>Phòng Tài chính kế toán;</li>
              <li>Phòng Quản lý nghiên cứu khoa học;</li>
              <li>Phòng Hợp tác Quốc tế;</li>
              <li>Phòng Đào tạo;</li>
              <li>Phòng Dịch tễ học;</li>
              <li>Phòng Thông tin – Truyền thông;</li>
              <li>Trung tâm điều trị gen – miễn dịch và tế bào gốc;</li>
              <li>Trung tâm sàng lọc phát hiện sớm ung bướu;</li>
              <li>Trung tâm Nghiên cứu lâm sàng;</li>
              <li>Trung tâm nghiên cứu về ung bướu và bệnh không lây nhiễm.</li>
            </ol>
            <p><strong>Tầm nhìn, sứ mệnh</strong></p>
            <ul>
              <li>Xây dựng Viện Ung thư Quốc gia trở thành trung tâm &nbsp;nghiên cứu hàng đầu của Việt Nam, sánh vai
                với các trung tâm nghiên cứu ung thư của khu vực và trên thế giới trong lĩnh vực nghiên cứu về dịch tễ
                học, các giải pháp mới trong dự phòng, chẩn đoán, điều trị và chăm sóc bệnh nhân ung thư
              </li>
              <li>Giảm thiểu gánh nặng gây ra do bệnh ung thư đối với cá nhân, gia đình và xã hội thông qua nghiên cứu
                các giải pháp mới trong dự phòng, chẩn đoán, điều trị &amp; chăm sóc bệnh nhân ung thư; tăng cường đào
                tạo &amp; hợp tác quốc tế; là kênh thông tin tin cậy về phòng chống ung thư và cung cấp bằng chứng khoa
                học để xây dựng, vận động chính sách hiệu quả.
              </li>
            </ul>
            <p><strong>Giá trị cốt lõi</strong></p>
            <ul>
              <li>Tạo sự khác biệt bằng cách giảm thiểu gánh nặng của bệnh UT thông qua NC, đào tạo, truyền thông và vận
                động chính sách
              </li>
              <li>Cam kết không ngừng theo đuổi sự chuyên nghiệp và tôn trọng những tiêu chuẩn về đạo đức.</li>
              <li>Lắng nghe, làm việc nhóm hiệu quả, hợp tác trong tổ chức cũng như với các đối tác trong nước và quốc
                tế
              </li>
              <li>Khuyến khích các ý tưởng sáng tạo, các giải pháp mới trong việc dự phòng và kiểm soát ung thư</li>
            </ul>
            <p>&nbsp;</p>
          </div>
        </div>
        <!-- ********************************* END List of person ********************************** -->
      </div> <!-- END Main -->
    </div> <!-- END "row" -->
  </div> <!-- END "row general-page-body-container collapse" -->
</div>